h2 {
    color: black;
}

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;

}

p,
ul {
    color: rgb(50, 150, 200);
}

#main-title {
    font-family: 'Montserrat', sans-serif;
    color: rgb(5, 153, 190);
    font-size: 45px;
    letter-spacing: -1px;
    font-weight: 400;
    display: block;
    position: absolute;
    top: 0%
}

h3 {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#foto {
    position: absolute;
    top: 250px;
    left: 700px;
    display: block;
    border-radius: 50%;
}

#fundo-header {
    position: relative;
    top: 0px;
    left: 0px;
}